@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lato:wght@300;400&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@300;400&family=Unbounded:wght@300;400;500&display=swap');
@import url("https://fonts.cdnfonts.com/css/rozenssa");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("fonts/neue-machina/stylesheet.css");
@import url('https://fonts.cdnfonts.com/css/soyuz-grotesk');
 :root {
    --blue: #504cff;
    --dark-blue: #0000c4;
    --violet: #5955b3;
    --green: #e7ff56;
    --white: #fefefe;
    --darkest-gray: #282828;
    --dark-gray: #666666;
    --gray: #c7c7c7;
    --light-gray: #e5e5e5;
    --lightest-gray: #efeeea;
    --orange: #d35a18;
}

* {
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
}

html {
    font-family: "Manrope", sans-serif;
    background: var(--white);
}

body {
    margin: 0rem;
    padding: 0rem;
}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:visited {
    color: var(--violet);
}

li {
    line-height: 200%;
    margin-left: -1.1255rem;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 15px;
    }

    .page-heading-1 div {
        font-size: 10rem;
    }

    .project-page-block-content.horizontal-direction,
    .worterbuch-colors{
        gap: 2rem;
    }

    #worterbuch-img-1{
        width: 19rem;
        height: 47rem;
    }

    .worterbuch-color{
        padding: 2rem;
        width: 18rem;
        height: 11rem;
    }
    
    #worterbuch-img-4,
    #worterbuch-img-7{
        height: 50rem;
        width: 25rem;
    }

    #worterbuch-img-5,
    #worterbuch-img-6{
        height: 50rem;
        width: 18rem;
    }
    

    #worterbuch-img-8,
    #worterbuch-img-9{
        height: 50rem;
        width: 25rem;
    }
    #worterbuch-img-2{
        background-image: url(../img/worterbuch/scheme.png);
        width: 90rem;
        height: 29rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 13px;
    }

    .page-heading-1 div {
        font-size: 15vw;
    }

    .project-page-block-content.horizontal-direction,
    .worterbuch-colors{
        gap: 1.5rem;
    }

    #worterbuch-img-1{
        width: 30vw;
        height: 60vw;
    }
    
    .worterbuch-color{
        padding: 2rem;
        width: 30vw;
        height: 11rem;
    }
    
    #worterbuch-img-4,
    #worterbuch-img-7{
        width: 45vw;
        height: 90vw;
    }

    #worterbuch-img-5,
    #worterbuch-img-6{
        height: 135vw;
        width: 45vw;
    }

    #worterbuch-img-8,
    #worterbuch-img-9{
        height: 30rem;
        width: 15rem;
    }

    #worterbuch-img-2{
        background-image: url(../img/worterbuch/scheme.png);
        width: 90vw;
        height: 35vw;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 11px;
    }

    .page-heading-1 div {
        font-size: 15vw;
    }

    .project-page-block-content.horizontal-direction,
    .worterbuch-colors{
        gap: 1.5rem;
    }
    
    .worterbuch-block-header,
    #worterbuch-settings-text,
    #worterbuch-education-text{
        margin-bottom: 2rem;
    }

    .worterbuch-color{
        padding: 1rem;
        width: 27vw;
        height: 11rem;
    }
    
    #worterbuch-img-4,
    #worterbuch-img-7,
    #worterbuch-img-8,
    #worterbuch-img-9{
        width: 45vw;
        height: 90vw;
    }

    #worterbuch-img-5,
    #worterbuch-img-6{
        height: 135vw;
        width: 45vw;
    }
    
    #worterbuch-settings-text{
        order: -1;
        width: 100%;
    }

    #worterbuch-img-2{
        background-image: url(../img/worterbuch/scheme-mobile.png);
        width: 95vw;
        height: 60vw;
    }

    /* #worterbuch-img-3{
        background-image: url(../img/worterbuch/registration-screenshots-group.png);
        height: 30vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    } */

    /* #worterbuch-img-1{
        width: 40vw;
        height: 80vw;
    } */
}


/* appearance animations */

.left-large-appearance,
.right-large-appearance,
.bottom-appearance,
.bottom-mobile-appearance,
.top-appearance,
.top-mobile-appearance {
    visibility: hidden;
    transition: all 0.8 ease-in-out;
}

.left-large-appearance.large-appeared,
.right-large-appearance.large-appeared,
.bottom-appearance.large-appeared,
.bottom-mobile-appearance.appeared,
.top-appearance.large-appeared,
.top-mobile-appearance.appeared {
    visibility: visible;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.bottom-mobile-appearance.appeared,
.bottom-appearance.large-appeared {
    animation-name: bottom-appearance;
}

.top-appearance.large-appeared,
.top-mobile-appearance.appeared {
    animation-name: top-appearance;
}

.left-large-appearance.large-appeared {
    animation-name: left-appearance;
}

.right-large-appearance.large-appeared {
    animation-name: right-appearance;
}


/* animations */

@keyframes right-appearance {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes left-appearance {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes top-appearance {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes bottom-appearance {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* texts style */

.big-heading {
    font-family: "Fira code", monospace;
    line-height: 100%;
    color: var(--dark-blue);
    font-size: 5rem;
    text-align: left;
    font-weight: 600;
}

.subheading {
    font-weight: 500;
    font-size: 1.1rem;
}

.description {
    font-weight: 300;
    font-size: 1rem;
    line-height: 200%;
    letter-spacing: 0.05rem;
}


/* Стили кнопок */

.button-type-1 {
    font-family: "Fira Code", monospace;
    background: var(--green);
    border-width: 0;
    width: 20rem;
    height: auto;
    padding: 0.2rem 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--darkest-gray);
    text-align: left;
    transition: all 0.3s ease;
}

.button-type-1:hover {
    transform: translate(-0.0625rem, -0.0625rem);
    box-shadow: 0.1875rem 0.1875rem var(--blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-type-1:active {
    transform: translate(0.0625rem, 0.0625rem);
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* Стиль Футера */

footer {
    margin-top: 12.5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 9.375rem;
    width: 100%;
    font-size: 0.875rem;
    color: var(--white);
    background-color: var(--darkest-gray);
}


/* Стиль хедера */

.items-wrap {
    max-width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    background: #e7ff56;
}

.items-wrap:hover {
    cursor: pointer;
}

.items {
    flex-shrink: 0;
    display: flex;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll 20s linear infinite;
}

.item {
    font-family: "Fira Code", monospace;
    line-height: 100%;
    margin: 0.5rem;
    display: flex;
    color: #282828;
    transition: all 0.1s ease-in-out;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.navbar {
    top: 0rem;
    width: 100%;
    z-index: 10;
    background: #d9d9d9;
    box-shadow: 0rem 0rem 3rem rgba(28, 28, 28, 0.05);
    transition: all 0.6s ease-in-out;
}

.navbar_hidden {
    transform: translateY(-100%);
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.links a {
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkest-gray);
}

.links>a:hover {
    font-weight: 500;
    text-decoration: underline;
}


/* стиль главной страницы */

.page-heading-1 {
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.typing-text {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Fira Code', monospace;
    font-size: 5rem;
    color: #0000c4;
  }

  .typing-text:first-child,
  .typing-text:last-child{
    color: #d9d9d9;
  }

  .typing-text:first-child{
    margin-top: 6rem;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #typing-text-1{
    animation: typing 1s steps(10), blink .5s step-end 6 alternate;
  }
  
  #typing-text-2{
    animation: typing 1s steps(5), blink .5s step-end 3 alternate;
    animation-delay: 1.3s;
  }
  
  #typing-text-3{
    animation: typing 1s steps(10), blink .5s step-end 6 alternate;
    animation-delay: 2.6s;
  }
  
  #typing-text-4{
    animation: typing 1s steps(5), blink .5s step-end 3 alternate;
    animation-delay: 3.9s;
  }
  
  #typing-text-5{
    animation: typing 1s steps(9), blink .5s step-end 5 alternate;
    animation-delay: 5.2s;
  }
  
  #typing-text-6{
    animation: typing 1s steps(11), blink .5s step-end infinite alternate;
    animation-delay: 6.5s;
  }

.page-heading-1 div{
    word-wrap: break-word;
    margin: 0rem;
    line-height: 120%;
}

#arrow-container {
    height: 50rem;
    width: 10rem;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20rem;
    margin: 0rem auto;
    padding: 0rem 1rem;
    margin-bottom: 20rem;
    max-width: 1512px;
}

.recent-works {
    margin: 0rem auto;
}

.recent-works-heading {
    font-family: 'Fira Code', monospace;
    font-size: 3rem;
    color: #d9d9d9;
    margin: 5rem 0rem;
}

.recent-works-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 88.5rem;
    column-gap: 1.5rem;
    row-gap: 3rem;
    padding: 0rem 1rem;
}

.recent-work {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    flex-grow: 1;
    gap: 1rem;
    width: 23rem;
    transition: all .3s ease-in-out;
}

.recent-work:hover {
    transform: scale(99%);
}


.recent-work:hover .recent-work-image{
    transform: scale(105%);
}

.recent-work-content {
    width: 100%;
    height: 15rem;
    background-color: #2d2d2d;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.recent-work-name{
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.recent-work:hover .recent-work-name,
.recent-work-name:hover{
    text-decoration: underline;
    font-weight: 500;
}

.recent-work-type {
    position: absolute;
    margin: -.6rem -.6rem;
    padding: .1rem;
    width: fit-content;
    height: fit-content;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
    color: var(--darkest-gray);
    background: var(--green);
}

#recent-work-img-1{
    background-image: url(../img/worterbuch/mockup-1.png);
    width: 100%;
    height: 15rem;
    margin: 1rem auto 0rem auto;
}

#recent-work-img-2{
    background-image: url(../img/quotes/mockup-1.png);
    width: 100%;
    height: 21rem;
    transform: rotate(-5deg);
}

#recent-work-img-3{
    background-image: url(../img/quotes/mockup-2.png);
    width: 100%;
    height: 16rem;
    transform: rotate(-5deg);
}

#recent-work-img-4{
    background-image: url(../img/kasumi/mockup-1.png);
    width: 100%;
    height: 15rem;
}

#recent-work-img-5{
    background-image: url(../img/studentsKnowledgeControl/mockup-1.png);
    width: 100%;
    height: 15rem;
    margin-top: .5rem;
}

#recent-work-img-6{
    background-image: url(../img/perfectPosture/mockup-2.png);
    width: 20rem;
    height: 20rem;
    margin: 1rem 0rem 0rem -2rem;
}

#recent-work-img-7{
    background-image: url(../img/perfectPosture/mockup-3.png);
    width: 30rem;
    height: 30rem;
    margin: 1rem -3rem 0rem 0rem;
}

#recent-work-img-8{
    background-image: url(../img/basketballFlightModeling/mockup-1.png);
    width: 100%;
    height: 15rem;
    margin-top: .5rem;
}

#recent-work-img-9{
    background-image: url(../img/proCredit/mockup-1.png);
    width: 100%;
    height: 12rem;
    margin: 1rem 0rem 0rem 2rem;
}

#recent-work-img-10{
    background-image: url(../img/mark/mockup-2.png);
    width: 30rem;
    height: 30rem;
}

#recent-work-img-11{
    background-image: url(../img/mark/mockup-3.png);
    width: 18rem;
    height: 20rem;
    margin: 2rem -2rem 0rem 0rem;
}

#recent-work-img-12{
    background-image: url(../img/bunker-42/slide-1.png);
    width: 20rem;
    height: 70rem;
    margin: 2rem 0rem 0rem 3rem;
}

#recent-work-img-13{
    background-image: url(../img/bunker-42/slide-2.png);
    width: 20rem;
    height: 50rem;
    margin: 0rem 0rem 0rem 1rem;
    transform: rotate(10deg);
}


/*Стиль страницы "Обо мне"*/

.content-about-me-page .big-heading {
    text-align: right;
    margin: -20rem 3rem 15rem 0rem;
    font-size: 2.5rem;
    font-weight: 400;
}

#img-container {
    min-height: 45rem;
    margin: 0rem auto;
    margin-bottom: 12.5rem;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: repeat;
    background-image: url(../img/myPhoto1.png);
}

.about-me-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    gap: 2.5rem;
    padding: 0rem 1rem;
    margin: 0rem auto;
    max-width: 1400px;
}

.about-me-container>div:not(#double-box),
#double-box>div {
    padding: 0rem 1.5rem;
    box-shadow: none;
    background: var(--lightest-gray);
    transition: all 0.5s ease-in-out;
}

.about-me-container>div:hover:not(#double-box),
#double-box>div:hover {
    box-shadow: 0.3125rem 0.3125rem var(--blue);
    transition: all 0.4s ease-in-out;
}

.about-me-page-heading {
    padding: 0rem;
    margin-bottom: 2rem;
    width: fit-content;
    height: auto;
    text-align: left;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--darkest-gray);
    background: var(--green);
}

#double-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#about-me-box .description:not(:last-child) {
    margin-top: 0rem;
}

#about-me-box {
    flex-grow: 2;
    max-width: 60rem;
}

#main-info-box,
#education-box,
#courses-box,
#languages-box {
    flex-grow: 1;
}

.language-groups {
    display: flex;
    flex-direction: column;
}

.language-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6rem;
}

.circles {
    gap: 0.67rem;
    display: flex;
    flex-direction: row;
}

.filled-circle,
.circle {
    border-radius: 2.5rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.12rem solid var(--blue);
}

.filled-circle {
    background-color: var(--blue);
}


/* contacts page style */

#star-container {
    margin-top: 1rem;
    width: 7rem;
    height: 7rem;
    background-image: url(../img/star-2.svg);
    background-size: cover;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
    animation-name: rotation-animation;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#contacts-page-heading {
    margin-top: 10rem;
}

#typing-text-7{
    animation: typing 1s steps(9), blink .5s step-end 5 alternate;
  }
  
  #typing-text-8{
    animation: typing 1s steps(11), blink .5s step-end 6 alternate;
    animation-delay: 1.3s;
  }
  
  #typing-text-9{
    animation: typing 1s steps(10), blink .5s step-end infinite alternate;
    animation-delay: 2.6s;
  }

/* projects page style */

.project-categories-line {
    margin: 15rem auto -10rem auto;
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    row-gap: .5rem;
    width: fit-content;
    flex-wrap: wrap;
}

.project-category {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkest-gray);
    height: fit-content;
    width: fit-content;
    padding: 0rem .1rem;
    border: none;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-category.active {
    background: var(--green);
    text-decoration: underline;
}

.project-category.inactive {
    background: var(--white);
}

.project-category:hover {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 4rem;
    margin: 0rem auto;
    padding: 0rem 1rem;
    width: 100%;
    max-width: 96rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 46rem;
}

.project-content {
    width: 100%;
    height: 26rem;
    overflow: hidden;
    padding: 1.5rem;
    transition: all .3s ease-in-out;
}

.project-images{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
    justify-content: center;
    align-content: center;
}

.project-image,
.recent-work-image{
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s ease-in-out;
    background-position: center;
    width: 100%;
}

.project-container:hover .project-image{
    transform: scale(105%);
}

.project-container:hover .project-content{
    transform: scale(99%);
}

#project-container-1 .project-content{
    background-color: #afb696;
}

#project-container-2 .project-content{
    background-color: #c1d545;
}

#project-container-3 .project-content{
    background-color: #ada5bf;
}

#project-container-4 .project-content{
    background-color: #e2d240;
}

#project-container-5 .project-content{
    background-color: #abbbe3;
}

#project-container-6 .project-content{
    background-color: #73a7ae;
}

#project-container-7 .project-content{
    background-color: #4060e9;
}

#project-container-8 .project-content{
    background-color: #cee3ab;
}

#project-container-9 .project-content{
    background-color: #e7eb20;
}

.project-category-label {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #d9d9d9;
    font-family: 'Fira Code', monospace;
    font-size: 1.3rem;
    color: var(--darkest-gray);
    font-weight: 400;
}

.project-header {
    font-family: 'Fira Code', sans-serif;
    color: var(--darkest-gray);
    font-weight: 400;
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
    margin-top: 1.5rem;
}

.project-header:hover,
.project-container:hover .project-header{
    text-decoration: underline;
    font-weight: 500;
}

#project-img-1 {
    background-image: url(../img/worterbuch/mockup-3.png);
    width: 15rem;
    height: 30rem;
    align-self: center;
}

#project-img-2 {
    background-image: url(../img/worterbuch/mockup-4.png);
    width: 13rem;
    height: 26rem;
    align-self: center;
}

#project-img-3 {
    background-image: url(../img/worterbuch/mockup-5.png);
    width: 11rem;
    height: 22rem;
    align-self: center;
}

#project-img-4 {
    background-image: url(../img/quotes/mockup-frames.png);
    width: 45rem;
    height: 25rem;
    margin-top: -3rem;
}

#images-3 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#project-img-5 {
    background-image: url(../img/perfectPosture/mockup-1.png);
    width: 35rem;
    height: 38rem;
    margin-top: -5rem;
}

#project-img-6 {
    background-image: url(../img/basketballFlightModeling/mockup-1.png);
    width: 50rem;
    height: 30rem;
}

#project-img-7 {
    background-image: url(../img/proCredit/mockup-1.png);
    width: 35rem;
    height: 30rem
}

#project-img-8 {
    background-image: url(../img/studentsKnowledgeControl/mockup-1.png);
    width: 50rem;
    height: 30rem;
    margin-top: -3rem;
}

#project-img-9 {
    background-image: url(../img/kasumi/mockup-1.png);
    width: 30rem;
    height: 30rem;
}

#container-7-images{
    display: flex;
    flex-direction: column;
    margin-right: -10rem;
    margin-top:-5rem;
}

#project-img-10 {
    background-image: url(../img/kasumi/mockup-2.png);
    width: 25rem;
    height: 25rem;
    z-index:2;
}

#project-img-11 {
    background-image: url(../img/kasumi/mockup-3.png);
    width: 25rem;
    height: 25rem;
    margin-top:-14rem;
    z-index:1;
}

#project-img-12 {
    background-image: url(../img/mark/mockup-1.png);
    width: 30rem;
    height: 21.5rem;
}

#project-img-13 {
    background-image: url(../img/bunker-42/slide-1.png);
    width: 30rem;
    height: 100rem;
    transform: rotate(-10deg);
}

#project-img-14 {
    background-image: url(../img/bunker-42/slide-2.png);
    width: 30rem;
    height: 100rem;
    margin-top: -12rem;
    transform: rotate(-10deg);
}

/* страница проекта */

.single-project-page{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.project-page-block-content{
    padding: 10rem 1rem;
}

#project-category-block{
    padding-bottom: 0rem;
    align-items: flex-start;
}
/* 
#worterbuch-name-block{
    padding-top: 0rem;
} */
.project-page-block-content{
    max-width: 1440px;
    margin: 0rem auto;
    overflow: hidden;
}

.project-page-block-content.vertical-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.project-page-block-content.horizontal-direction,
.worterbuch-colors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 2rem; */
}

.vertical-flex-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.vertical-flex-block .description{
    font-weight: 400;
    font-size: 1.1rem;
}

.horizontal-divider{
    width: 100%;
    height: 1px;
    margin: 0rem auto;
    background-color: #2d2d2d;
}

.size-36{
    font-size: 36px;
}

.size-32{
    font-size: 32px;
}

.size-24{
    font-size: 24px;
}

.size-20{
    font-size: 20px;
}

.size-15{
    font-size: 15px;
}

.size-13{
    font-size: 13px;
}

.size-10{
    font-size: 10px;
}

.semi-bold-text{
    font-weight: 600;
}

.medium-text{
    font-weight: 500;
}

.regulat-text{
    font-weight: 400;
}

.header-comment{
    font-family: 'Fira code', monospace;
    font-size: 1.5rem;
    font-weight: 400;
    color: #d9d9d9;
}
/* worterbuch */

#worterbuch-page{
    color: #2d2d2d;
}

#worterbuch-header{
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: var(--darkest-gray);
}

.worterbuch-block-header{
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
}

#worterbuch-img-1{
    background-image: url(../img/worterbuch/mockup-2.png);
}

.worterbuch-tipography{
    width: fit-content;
    height: fit-content;
    background: var(--green);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem;
}

#worterbuch-tepography-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%
}

#unbounded-font p{
    font-family: 'Unbounded', sans-serif;
    line-height: 160%;
    margin: 0rem;
}

#unbounded-font-header,
#inter-font-header{
    font-size: 2.5rem;
    font-weight: 600;
}

#inter-font p{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    margin: 0rem;
}

.worterbuch-tipography div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1.5rem;
}

.worterbuch-colors-group{
    gap: 1rem;
}

/* .worterbuch-color{
    padding: 2rem;
    width: 18rem;
    height: 11rem;
} */


.worterbuch-color p{
    line-height: 100%;
    margin: 0rem;
}

.worterbuch-color p:first-child{
    font-size: 1.25rem;
}

.worterbuch-color p:not(:first-child){
    font-size: 1rem;
}

#worterbuch-black{
    background: #222222;
}

#worterbuch-black p{
    color: #989898;
}

#worterbuch-dark-gray{
    background: #707070;
}

#worterbuch-dark-gray p{
    color: #2f2f2f;
}

#worterbuch-gray{
    background: #BCBCBC;
}

#worterbuch-gray p{
    color: #2C2C2C;
}

#worterbuch-red{
    background: #CD5353;
}

#worterbuch-red p{
    color: #722D2D;
}

#worterbuch-green{
    background: #e7fe54;
}

#worterbuch-green p{
    color: #69751e;
}

#worterbuch-light-gray{
    background: #f5f5f5;
}

#worterbuch-light-gray p{
    color: #737373;
}

#worterbuch-white{
    background: #ffffff;
}

#worterbuch-white p{
    color: #444444;
}

#worterbuch-background{
    background: #eeefea;
}

#worterbuch-background p{
    color: #7c816b;
}

#worterbuch-navigation-block,
#worterbuch-main-block{
    background-color: #E7FE54;
}

#worterbuch-registration-block{
    background-color: #2d2d2d;
    height: fit-content;
}

#worterbuch-img-3{
    background-image: url(../img/worterbuch/registration-screenshots-group.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#worterbuch-img-4{
    background-image: url(../img/worterbuch/mockup-3.png);
}

#worterbuch-img-5{
    background-image: url(../img/worterbuch/main.png);
}
    
.worterbuch-horizontal-images{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#worterbuch-dictionary-block{
    background-color: #2d2d2d;
}

#worterbuch-dictionary-block p{
    color: #ffffff;
}

#worterbuch-img-7{
    background-image: url(../img/worterbuch/mockup-5.png);
}

#worterbuch-img-6{
    background-image: url(../img/worterbuch/dictionary.png);
}

#worterbuch-settings-text p:first-child{
    text-align: center;
}

#worterbuch-settings-text p:last-child{
    margin-left:auto;
    margin-right: auto;
}

#worterbuch-img-8{
    background-image: url(../img/worterbuch/settings-1.png);
}

#worterbuch-img-9{
    background-image: url(../img/worterbuch/settings-2.png);
}

#worterbuch-education-block{
    background-color: #eeefea;
}

#worterbuch-education-text p:not(:first-child){
    width: 13rem;
}

#worterbuch-img-10{
    background-image: url(../img/worterbuch/educatioin-screenshots-group.png);
    height: 45rem;
    width: 56rem;
}
  

