@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rozenssa");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("fonts/neue-machina/stylesheet.css");
:root {
    --blue: #504cff;
    --dark-blue: #0000c4;
    --violet: #5955b3;
    --green: #e7ff56;
    --white: #fefefe;
    --darkest-gray: #282828;
    --dark-gray: #666666;
    --gray: #c7c7c7;
    --light-gray: #e5e5e5;
    --lightest-gray: #efeeea;
    --orange: #d35a18;
}

* {
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
}

html {
    font-family: "Manrope", sans-serif;
    background: var(--white);
}

body {
    margin: 0rem;
    padding: 0rem;
}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:visited {
    color: var(--violet);
}

li {
    line-height: 200%;
    margin-left: -1.1255rem;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 15px;
    }
    #mobile-phone-card {
        height: 43.75rem;
        width: 21.875rem;
    }
    .screenshot {
        transition: all 0.3s ease-in-out;
        height: 31.25rem;
        width: 15.6rem;
    }
    #screenshots-1>.screenshot:not(:last-child) {
        margin-right: -8.5rem;
    }
    #screenshots-2>.screenshot:not(:first-child) {
        margin-left: -8.5rem;
    }
    #pro-credit-image {
        background-image: url(https://i.ibb.co/dfpgPhb/pro-Credit1.jpg);
    }
    #students-image {
        background-image: url(https://i.ibb.co/7Cb90C8/students-Knowledge-Control1.jpg);
    }
    #kasumi-encryption-decryption-image {
        background-image: url(https://i.ibb.co/C5PHd54/kasumi-Encryption.jpg);
    }
    #kasumi-algorithm-image {
        background-image: url(https://i.ibb.co/Bnrztbz/kasumi-Algorithm.jpg);
    }
    #basketball-image {
        background-image: url(https://i.ibb.co/BjfZZLs/basketball-Flight-Modeling1.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 13px;
    }
    .checkbox {
        height: 28px;
        width: 28px;
    }
    .hamburger-lines {
        height: 23px;
        width: 28px;
    }
    #mobile-phone-card {
        height: 35rem;
        width: 17.5rem;
    }
    .screenshot {
        height: 25rem;
        width: 12.48rem;
    }
    #screenshots-1>.screenshot:not(:last-child) {
        margin-right: -7rem;
    }
    #screenshots-2>.screenshot:not(:first-child) {
        margin-left: -7rem;
    }
    #pro-credit-image {
        background-image: url(https://i.ibb.co/dfpgPhb/pro-Credit1.jpg);
    }
    #students-image {
        background-image: url(https://i.ibb.co/7Cb90C8/students-Knowledge-Control1.jpg);
    }
    #kasumi-encryption-decryption-image {
        background-image: url(https://i.ibb.co/C5PHd54/kasumi-Encryption.jpg);
    }
    #kasumi-algorithm-image {
        background-image: url(https://i.ibb.co/Bnrztbz/kasumi-Algorithm.jpg);
    }
    #basketball-image {
        background-image: url(https://i.ibb.co/BjfZZLs/basketball-Flight-Modeling1.jpg);
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 11px;
    }
    .checkbox {
        height: 22px;
        width: 22px;
    }
    .hamburger-lines {
        height: 18px;
        width: 22px;
    }
    #mobile-phone-card {
        height: 43.75rem;
        width: 21.875rem;
    }
    #pro-credit-image {
        background-image: url(https://i.ibb.co/khp66W5/pro-Credit1-small.jpg);
    }
    #students-image {
        background-image: url(https://i.ibb.co/WkC5YZG/students-Knowledge-Control1-small.jpg);
    }
    #kasumi-encryption-decryption-image {
        background-image: url(https://i.ibb.co/rFMpjmq/kasumi-Encryption-small.jpg);
    }
    #kasumi-algorithm-image {
        background-image: url(https://i.ibb.co/JQ12ybH/kasumi-Algorithm-small.jpg);
    }
    #basketball-image {
        background-image: url(https://i.ibb.co/hVvGs7z/basketball-Flight-Modeling1-small.jpg);
    }
    .mobile-nav {
        margin-top: 50px;
        margin-bottom: 60px;
    }
}


/* appearance animations */

.left-large-appearance,
.right-large-appearance,
.bottom-appearance,
.bottom-mobile-appearance,
.top-appearance,
.top-mobile-appearance {
    visibility: hidden;
    transition: all 0.8s ease;
}

.left-large-appearance.large-appeared,
.right-large-appearance.large-appeared,
.bottom-appearance.large-appeared,
.bottom-mobile-appearance.appeared,
.top-appearance.large-appeared,
.top-mobile-appearance.appeared {
    visibility: visible;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.bottom-mobile-appearance.appeared,
.bottom-appearance.large-appeared {
    animation-name: bottom-appearance;
}

.top-appearance.large-appeared,
.top-mobile-appearance.appeared {
    animation-name: top-appearance;
}

.left-large-appearance.large-appeared {
    animation-name: left-appearance;
}

.right-large-appearance.large-appeared {
    animation-name: right-appearance;
}


/* animations */

@keyframes right-appearance {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes left-appearance {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes top-appearance {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes bottom-appearance {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes shake-animation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@keyframes shake-animation2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0.5deg);
    }
    50% {
        transform: rotate(-0.5deg);
    }
    75% {
        transform: rotate(0.5deg);
    }
    100% {
        transform: rotate(-0.5deg);
    }
}

@keyframes rotation-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* texts style */

.text {
    line-height: 160%;
    text-align: center;
    color: var(--darkest-gray);
}

.big-blue-text {
    line-height: 100%;
    font-size: 9rem;
    color: var(--blue);
}

.big-heading {
    font-family: "Neue Machina", sans-serif;
    line-height: 100%;
    color: var(--dark-blue);
    font-size: 5rem;
    text-align: left;
    font-weight: 600;
}

.heading {
    font-family: "Unbounded", sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
}

.subheading {
    font-weight: 500;
    font-size: 1.1rem;
}

.subheading-2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.main-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 200%;
    margin-top: 3.125rem;
}

.description {
    font-weight: 300;
    font-size: .9rem;
    line-height: 200%;
    letter-spacing: 0.05rem;
    /* margin-bottom: 2.5rem; */
}


/* Стили кнопок */

.button-type-1 {
    font-family: "Fira Code", sans-serif;
    background: var(--green);
    border-width: 0;
    width: 20rem;
    height: auto;
    padding: 0.2rem 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--darkest-gray);
    text-align: left;
    transition: all 0.3s ease;
}

.button-type-1:hover {
    transform: translate(-0.0625rem, -0.0625rem);
    box-shadow: 0.1875rem 0.1875rem var(--blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-type-1:active {
    transform: translate(0.0625rem, 0.0625rem);
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* Стиль Футера */

footer {
    margin-top: 12.5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 9.375rem;
    width: 100%;
    font-size: 0.875rem;
    color: var(--white);
    background-color: var(--darkest-gray);
}


/* Стиль хедера */

.items-wrap {
    max-width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    /* gap: 1rem; */
    background: #e7ff56;
}

.items-wrap:hover {
    cursor: pointer;
}

.items {
    flex-shrink: 0;
    display: flex;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll 20s linear infinite;
}

.item {
    font-family: "Fira Code", sans-serif;
    line-height: 100%;
    margin: 0.5rem;
    display: flex;
    color: #282828;
    transition: all 0.1s ease-in-out;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.navbar {
    top: 0rem;
    width: 100%;
    z-index: 10;
    background: #d9d9d9;
    box-shadow: 0rem 0rem 3rem rgba(28, 28, 28, 0.05);
    /* border-radius: 0rem 0rem 0.9375rem 0.9375rem; */
    transition: all 0.6s ease-in-out;
}

.navbar_hidden {
    transform: translateY(-100%);
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.links a {
    font-family: 'Fira Code', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--darkest-gray);
}

.links>a:hover {
    font-weight: 500;
    text-decoration: underline;
}


/* стиль главной страницы */

.page-heading-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between
}

.page-heading-1 div:not(:first-child) {
    margin-bottom: 0rem;
}

#arrow-container {
    height: 50rem;
    width: 10rem;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

.page-heading-2 h1 {
    display: inline;
    font-size: 11rem;
}

.page-heading-2 h1:first-child {
    color: #d9d9d9;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20rem;
    margin: 0rem auto;
    padding: 0rem;
    max-width: 1512px;
}

.recent-works {
    margin-bottom: 20rem;
    margin: 0rem auto;
}

.recent-works-heading {
    font-family: 'Neue Machina', sans-serif;
    font-size: 3rem;
    color: #d9d9d9;
    margin: 5rem;
}

.recent-works-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 88.5rem;
    column-gap: 1.5rem;
    row-gap: 4rem;
}

.recent-work {
    width: 21rem;
    height: 13rem;
    background-color: #2d2d2d;
}


/*Стиль страницы "Обо мне"*/

.content-about-me-page .big-heading {
    text-align: right;
    margin: -20rem 3rem 15rem 0rem;
    font-size: 3rem;
    font-weight: 400;
}

#img-container {
    height: 45rem;
    margin-bottom: 12.5rem;
    width: 100%;
    max-width: 1512px;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
    background-position: center top;
    background-image: url(../img/myPhoto1.png);
}

.about-me-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    gap: 2.5rem;
    padding: 0rem 1rem;
    margin: 0rem auto;
    max-width: 1300px;
}

.about-me-container>div:not(#double-box),
#double-box>div {
    padding: 0rem 1.5rem;
    box-shadow: none;
    background: var(--lightest-gray);
    transition: all 0.5s ease-in-out;
}

.about-me-container>div:hover:not(#double-box),
#double-box>div:hover {
    box-shadow: 0.3125rem 0.3125rem var(--blue);
    transition: all 0.4s ease-in-out;
}

.about-me-page-heading {
    padding: 0rem;
    margin-bottom: 2rem;
    width: fit-content;
    height: auto;
    text-align: left;
    font-family: "Fira Code", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--darkest-gray);
    background: var(--green);
}

#double-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    /* flex-grow: 1; */
}

#about-me-box .description:not(:last-child) {
    margin-top: 0rem;
}

#about-me-box {
    flex-grow: 2;
    max-width: 60rem;
}

#main-info-box,
#education-box,
#courses-box,
#languages-box {
    flex-grow: 1;
}

.language-groups {
    display: flex;
    flex-direction: column;
}

.language-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6rem;
}

.circles {
    gap: 0.67rem;
    display: flex;
    flex-direction: row;
}

.filled-circle,
.circle {
    border-radius: 2.5rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.12rem solid var(--blue);
}

.filled-circle {
    background-color: var(--blue);
}


/* contacts page style */

#star-container {
    margin-top: 1rem;
    width: 7rem;
    height: 7rem;
    background-image: url(../img/star-2.svg);
    background-size: cover;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
    animation-name: rotation-animation;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#contacts-page-heading {
    padding: 15rem 0rem;
}


/* projects page style */

.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

.work-container button {
    margin-top: 1rem;
}

.work-number-odd,
.work-number-even {
    height: 20rem;
    width: 100%;
}

.work-number-odd {
    display: flex;
    justify-content: flex-start;
}

.work-number-even {
    display: flex;
    justify-content: flex-end;
}

#screenshots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
}

#screenshots-container>#screenshots-1,
#screenshots-2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.mobile-phone {
    z-index: 5;
}

.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#mobile-phone-card {
    background-image: url(../img/perfectPosture/main.svg);
    margin: -6.25rem auto 0rem auto;
}

.screenshot {
    transition: all 0.3s ease-in-out;
}

.screenshot:hover {
    z-index: 3;
    margin-top: -1.25rem;
    animation-name: shake-animation2;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    transition: all 0.3s ease-in-out;
}

#screenshot-main {
    background-image: url(../img/perfectPosture/mainNoBorder.svg);
}

#screenshot-profile {
    background-image: url(../img/perfectPosture/profileNoBorder.svg);
}

#screenshot-settings {
    background-image: url(../img/perfectPosture/settingsNoBorder.svg);
}

#screenshot-statistics-day {
    z-index: 2;
    background-image: url(../img/perfectPosture/statisticsDayNoBorder.svg);
}

#screenshot-statistics-week {
    z-index: 1;
    background-image: url(../img/perfectPosture/statisticsWeekNoBorder.svg);
}

#screenshot-statistics-week:hover,
#screenshot-statistics-course:hover,
#screenshot-statistics-day:hover {
    z-index: 3;
}

#screenshot-statistics-course {
    z-index: 0;
    background-image: url(../img/perfectPosture/statisticsCourseNoBorder.svg);
}

.preview-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}

.preview-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    background-color: var(--lightest-gray);
    transition: all 0.3s ease-in-out;
    border-radius: 2.2rem;
    padding: 2rem;
    gap: 2rem;
}

.preview-box video {
    border-radius: 1.2rem;
    width: 66rem;
}

.preview-box:hover {
    transform: scale(105%, 105%);
    box-shadow: 0.3125rem 0.3125rem var(--blue);
}

.preview-box-images {
    transition: all 0.4s ease-in-out;
    border-radius: 0.625rem;
    width: 66rem;
}

#kasumi-encryption-decryption-image {
    width: 33.58rem;
}

#kasumi-algorithm-image {
    width: 24.03rem;
}

.image-box-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.navigation-button {
    text-align: center;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 0rem 4.275rem;
    border: none;
    border-radius: 1.125rem;
    color: var(--white);
    background-color: rgba(80, 76, 255);
    transition: all 0.4s ease-in-out;
}

.navigation-button:hover {
    transform: translate(-0.0625rem, -0.0625rem);
    cursor: pointer;
}

.navigation-button:active {
    transform: translate(0.0625rem, 0.0625rem);
    cursor: pointer;
}