@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/soyuz-grotesk');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/rozenssa');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
:root {
    --blue: #504CFF;
    --dark-blue: #0000C4;
    --violet: #5955B3;
    --green: #E7FF56;
    --white: #fefefe;
    --darkest-gray: #282828;
    --dark-gray: #666666;
    --gray: #C7C7C7;
    --light-gray: #E5E5E5;
    --lightest-gray: #EFEEEA;
    --orange: #D35A18;
}

html{
    font-family: 'Manrope', sans-serif;
    background: var(--white);
}
body{
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
}
@media screen and (min-width: 1024px){
    .nav-container{
        visibility: hidden;
        width: 0px;
    }
    .links {
        visibility: visible;
        
    }
    html{
        font-size: 16px;
    }
    .button-type-1 {
        width: 400px;
        height: 50px;
        padding-left: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .links {
        visibility: hidden;
        width: 0px;
    }
    .nav-container{
        visibility: visible;
    }
    html{
        font-size: 14px;
    }
    .button-type-1 {
        width: 350px;
        height: 43.75px;
        padding-left: 30px;
    }
    .menu-items {
        padding: 90px 50px 50px 0px;
        height: 180px;
      }
}
@media screen and (max-width: 768px) {
    .links {
        visibility: hidden;
        width: 0px;
    }
    .nav-container{
        visibility: visible;
    }
    html{
        font-size: 12px;
    }
    .button-type-1 {
        width: 300px;
        height: 37.5px;
        padding-left: 30px;
    }
    .menu-items {
        padding: 90px 50px 50px 0px;
        height: 150px;
      }
}
a {
    text-decoration: none;
    color: var(--blue);
}

a:visited {
    color: var(--violet);
}

li,
p {
    line-height: 200%;
}

li {
    margin-left: -18px;
}


/* Анимация появления */

.left-appearance-animation {
    opacity: 0;
    transform: translateX(-50%);
}

.right-appearance-animation {
    opacity: 0;
    transform: translateX(50%);
}

.bottom-appearance-animation {
    opacity: 0;
    transform: translateY(100%);
}

.bottom-appearance-animation.appeared {
    opacity: 1;
    transform: translateY(0%);
    transition: all .8s ease;
}

.right-appearance-animation.appeared,
.left-appearance-animation.appeared {
    opacity: 1;
    transform: translateX(0%);
    transition: all .8s ease;
}

/* Анимации */

@keyframes shake-animaiton {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@keyframes shake-animaiton2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(.5deg);
    }
    50% {
        transform: rotate(-.5deg);
    }
    75% {
        transform: rotate(.5deg);
    }
    100% {
        transform: rotate(-.5deg);
    }
}

@keyframes rotation-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Стили текста */

.text {
    line-height: 160%;
    text-align: center;
    color: var(--darkest-gray);
}

.biggest-heading {
    margin-top: 200px;
    font-size: 5rem;
    margin-top: -50px;
    margin-bottom: 200px;
    color: var(--white);
}

.big-heading {
    font-family: '../fonts/BASE_BLOOM.otf', sans-serif;
    color: var(--dark-blue);
    font-size: 5rem;
    text-align: left;
    font-weight: 600;
}
.heading {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
}

.subheading-2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.main-text {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 100px;
}

.big-blue-text {
    font-family: '../fonts/BASE_BLOOM.otf', sans-serif;
    font-size: 9rem;
    text-align: left;
    color: var(--blue);
}
/* Стили кнопок */
.button-type-1 {
    font-family: 'Fira Code', sans-serif;
    background: var(--green);
    border-width: 0;
    border-radius: 35px;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: left;
    transition: all .3s ease;
}

.button-type-1:hover {
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px var(--blue);
    cursor: pointer;
    transition: all .3s ease;
}

.button-type-1:active {
    transform: translate(1px, 1px);
    box-shadow: none;
    cursor: pointer;
    transition: all .3s ease;
}

/* Стиль Футера */

footer {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 100vw;
    font-size: 0.875rem;
    color: var(--white);
    background-color: var(--darkest-gray);
}


/* Стиль хедера */

.header {
   /* position: sticky;*/
    top: 0;
    z-index: 10;
    height: 62px;
    min-width: 100vw;
    width: 100vw;
    background: var(--white);
    box-shadow: 0px 0px 50px rgba(28, 28, 28, 0.05);
    border-radius: 0px 0px 15px 15px;
    transition: all .6s ease-in-out;
}
.header_hidden {
    transform: translateY(-100%);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    max-width: 1440px;
    height: 62px;
}

#logo {
    font-family: 'Rozenssa', sans-serif;
    letter-spacing: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--darkest-gray);
}
.links {
  display: flex;
  align-items: center;
 justify-content: center;
}
.links a {
    margin: 0px 50px;
    width: 90px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-gray);
}
.links>a:hover {
    color: var(--darkest-gray);
}

.menu-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
.menu-container li {
    list-style: none;
  }
  
.menu-container a {
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
.menu-container a:hover{
    color: var(--darkest-gray);
  }
  
  .menu-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--darkest-gray);
  }
  
 .hamburger-lines .line-1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
.hamburger-lines .line-2 {
    transition: transform 0.2s ease-in-out;
  }
  
.hamburger-lines .line-3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
.menu-items {
    visibility: hidden;
    width: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  
.menu-items li {
    margin-left: 0px;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  
  .menu-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    visibility: visible;
    width: 100%;
  }
  
  .menu-container input[type="checkbox"]:checked ~ .hamburger-lines .line-1 {
    transform: rotate(45deg);
  }
  
  .menu-container input[type="checkbox"]:checked ~ .hamburger-lines .line-2 {
    transform: scaleY(0);
  }
  
  .menu-container input[type="checkbox"]:checked ~ .hamburger-lines .line-3 {
    transform: rotate(-45deg);
  }
  
  .menu-container input[type="checkbox"]:checked ~ #logo{
    display: none;
  }
/* Стиль главной страницы */

#first-img-container {
    height: 1500px;
    width: 100vw;
    background-image: url(../img/myPhoto2.jpg);
    background-size: cover;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Стиль страницы "Обо мне"*/

.subheading {
    margin: 20px 0px;
    font-weight: 700;
    font-size: 1rem;
}

.description {
    margin-top: -15px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: .3px;
}

#second-img-container {
    height: 914px;
    background-image: url(../img/myPhoto1.png);
    margin-bottom: 200px;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
}

.about-me-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 40px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.about-me-container>div {
    background: var(--lightest-gray);
    padding: 20px 60px 60px 60px;
    border-radius: 30px;
    box-shadow: none;
    transition: all .5s ease-in-out;
}

.about-me-container>div:hover {
    transition: all .4s ease-in-out;
    box-shadow: 5px 5px var(--blue);
}

.about-me-page-heading {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
    color: var(--darkest-gray);
}

#about-me-box {
    grid-column: 1 / 9;
    grid-row: 1 / 4;
}

#about-me-box .description:not(:last-child) {
    margin-top: 0px;
}

#main-info-box {
    grid-column: 9 / 13;
    grid-row: 1 / 4;
}

#education-box {
    grid-column: 1 / 6;
    grid-row: 4 / 6;
}

#experience-box {
    grid-column: 1 / 6;
    grid-row: 6;
}

#experience-box p:not(:first-child) {
    margin-top: 40px;
}

#courses-box {
    grid-column: 6 / 13;
    grid-row: 4 / 7;
}

#languages-box {
    grid-column: 1 / 13;
    grid-row: 7;
}

.language-grous {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.language-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circles {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    width: 250px;
}

.filled-circle,
.circle {
    width: 15px;
    height: 15px;
    margin: 0px 10px;
    border-radius: 40px;
    border: 3px solid var(--blue);
}

.filled-circle {
    background-color: var(--blue);
}


/* Стиль страницы "Контакты" */
#star-container{
    justify-self: flex-start;
    align-self: flex-start;
    margin: -150px 0px 100px 0px;
    width: 80px;
    height: 80px;
    background-image: url(../img/star-2.svg);
    background-size: cover;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
    animation-name: rotation-animation;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
.contacts-heading{
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: -100px;
}
.contacts-heading:first-child{
    font-size: 300px;
    margin-top: -150px;
    margin-bottom: -80px;
}
.content-contacts-page {
    max-width: 1300px;
    margin: 300px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1300px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-card {
    position: relative;
    left: 0px;
    width: 300px;
    height: 500px;
    background: var(--lightest-gray);
    border: none;
    border-radius: 20px;
    padding: 40px;
    font-family: sans-serif;
    color: var(--darkest-gray);
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.contact-card:not(:first-child) {
    margin-left: -160px;
}

.contact-card:hover {
    cursor: pointer;
    transform: translateY(-30px);
    box-shadow: none;
    box-shadow: 7px 7px var(--gray);
    transition: all .3s ease-in-out;
}


.contsct-card:active {
    transform: translateY(7px);
    transform: translateX(7px);
    box-shadow: none;
    transition: all .3s ease-in-out;
}

.contsct-card:hover~.contsct-card {
    left: 40px;
    transition: all .3s ease-in-out;
}

.contacts-cards button p:first-child {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-top: 200px;
    margin-left: -180px;
    transform: rotate(-90deg);
    text-align: right;
}



/* Стиль страницы "Работы" */

.work-containers {
    margin: 0px auto;
}

.work-container {
    padding: 250px 0px;
}

.work-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin-bottom: 200px;
}

.work-name-odd {
    margin-right: 300px;
}

.work-name-even {
    margin-left: 300px;
}

#number-1,
#number-3,
#number-5 {
    width: 200px;
    margin: -200px 95px 0px 0px;
}

#number-2,
#number-4 {
    width: 200px;
    margin: -200px 0px 0px 130px;
}

.screenshots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    max-width: 1900px;
    margin: 0px auto 150px auto;
    max-width: 1700px;
    transition: all .3s ease-in-out;
}

.screenshots-container>.screenshots-1,
.screenshots-2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.screenshots-1>.works-card-first:not(:last-child) {
    margin-right: -100px;
}

.screenshots-2>.works-card-first:not(:first-child) {
    margin-left: -100px;
}

.mobile-phone {
    z-index: 5;
}

#mobile-phone-card {
    margin-top: -100px;
    background-image: url(../img/perfectPosture/main.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    width: 360px;
}

.works-card-first {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 250px;
    transition: all .3s ease-in-out;
}

.works-card-first:hover {
    z-index: 3;
    margin-top: -20px;
    animation-name: shake-animaiton2;
    animation-duration: .3s;
    animation-iteration-count: 1;
    transition: all .3s ease-in-out;
}


#first-work-main {
    background-image: url(../img/perfectPosture/mainNoBorder.svg);
}

#first-work-profile {
    background-image: url(../img/perfectPosture/profileNoBorder.svg);
}

#first-work-settings {
    background-image: url(../img/perfectPosture/settingsNoBorder.svg);
}

#first-work-statistics-day {
    z-index: 2;
    background-image: url(../img/perfectPosture/statisticsDayNoBorder.svg);
}

#first-work-statistics-day:hover {
    z-index: 3;
}

#first-work-statistics-week {
    z-index: 1;
    background-image: url(../img/perfectPosture/statisticsWeekNoBorder.svg);
}

#first-work-statistics-week:hover {
    z-index: 3;
}

#first-work-statistics-course {
    z-index: 0;
    background-image: url(../img/perfectPosture/statisticsCourseNoBorder.svg);
}

#first-work-statistics-course:hover {
    z-index: 3;
}

.work-button {
    display: flex;
    justify-content: center;
}

.preview-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    background-color: var(--lightest-gray);
    transition: all .3s ease-in-out;
}

.preview-box:hover {
    transform: scale(110%, 110%);
    box-shadow: 5px 5px var(--blue);
}

.students-knowledge-control-preview,
.basketball-flight-modeling-preview,
.pro-credit-preview {
    height: 750px;
    width: 1050px;
}

.kasumi-preview {
    margin: 0px 50px;
    height: 750px;
}

#first-kasumi-box {
    width: 750px;
}

#second-kasumi-box {
    width: 550px;
}

#pro-credit-image {
    width: 880px;
    background-image: url(../img/proCredit/proCredit1.svg);
}

#basketball-flight-modeling-image {
    width: 870px;
    background-image: url(../img/basketballFlightModeling/basketballFlightModeling1.svg);
}

#students-knowledge-control-image {
    width: 756px;
    background-image: url(../img/studentsKnowledgeControl/studentsKnowledgeControl1.svg);
}

.preview-box-images {
    height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .4s ease-in-out;
}

#kasumi-encryption-decryption-image {
    width: 615px;
    background-image: url(../img/kasumi/kasumiEncryption.svg);
}

#kasumi-algorithm-image {
    width: 442px;
    background-image: url(../img/kasumi/kasumiAlgorithm.svg);
}

.image-box-navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-box-navigation-button {
    padding: 0px 70px;
    margin: 0px 30px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    border: none;
    border-radius: 18px;
    color: var(--white);
    background-color: rgba(80, 76, 255);
    transition: all .4s ease-in-out;
}

.image-box-navigation-button:hover {
    transform: translate(-1px, -1px);
    cursor: pointer;
}

.image-box-navigation-button:active {
    transform: translate(1px, 1px);
    cursor: pointer;
}