*{
    font-family: 'Manrope', sans-serif;
}
body{
    background: #fefefe;
}
a{
    text-decoration: none;
    color: #504CFF;
}
a:visited{
    color: #5955B3;
}
.header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    place-items: center;
    grid-gap: 20px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(1, 1, 1, 0.05);
    border-radius: 0px 0px 15px 15px;
}
.header > a{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
.header > a:hover{
    color: #1C1B1F;
}
#logo{
    grid-column: 1;
    margin-left: 100px;
    font-size: 22px;
    font-weight: 600;
    color: #1C1B1F;
}
#aboutPage{
    grid-column: 3;
}
#worksPage{
    grid-column: 4;
}
#contactsPage{
    grid-column: 5;
}
#firstImgContainer{
    height: 1500px;
    background-image: url(https://i.ibb.co/F4gZch5/IMG-4567.jpg);
    background-size: cover;
    margin-bottom: 200px;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
#text1{
    grid-column: 1 / 4;
    margin-top: 200px;
    font-size: 80px;
    text-align: center;
    color: #ffffff;
}
#text2{
    font-size: 50px;
    grid-column: 1 / 4;
    text-align: center;
}
#applicationButton{
    grid-column: 2;
    width: 450px;
    height: 65px;
    background: #E3F265;
    border-radius: 40px;
    border-width: 0;
    font-weight: 600;
    font-size: 20px;
    transition: all .4s ease-in-out;
}
#applicationButton:hover{
    box-shadow: 5px 5px #504CFF;
    transition: all .4s ease-in-out;
}
#applicationButton:active{
    transform: translateX(5px);
    transform: translateY(5px);
    box-shadow: 0px 0px #504CFF;
    transition: all .2s ease-in-out;
}
#secondImgContainer{
    height: 914px;
    background-image: url(https://i.ibb.co/myvfy1k/photo-2022-08-01-18-49-48-1.png);
    margin-bottom: 200px;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
}
.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, auto);
  /*background-color: #6e6e6e46;*/
  gap: 40px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.container > div{
    background:rgba(239, 238, 234, 0.9);
  padding: 10px 60px 60px 69px;
  border-radius: 30px;
  box-shadow: 0px 0px #504CFF;
  transition: all .5s ease-in-out;
}
p:first-child{
    font-family: 'Soyuz Grotesk', sans-serif;
    font-size: 35px;
    color: #1C1B1F;
}
.container > div:hover{
  transition: all .4s ease-in-out;
  box-shadow: 5px 5px #504CFF; /*D6FC51*/
}
.subHeading{
    font-weight: 700;
    font-size: 22;
    grid-column: 1 / 3;
}
.description{
    font-weight: 400;
    font-size: 20;
    grid-column: 2 / 4;
}
li, p{
    line-height: 160%;
}
#aboutMeBox{
    grid-column: 1 / 9;
    grid-row: 1 / 4;
}
#mainInfoBox{
    grid-column: 9 / 13;
    grid-row: 1 / 4;
}
#mainInfoBox .subHeading:not(#birthday){
    margin-top: 40px;
}
li{
    margin-left: -18px;
}
#educationBox{
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 10px;
    grid-column: 1 / 6;
    grid-row: 4 / 7;
    align-items: start;
}
#educationBox .description{
    margin-top: -25px;
}
#university{
    grid-column: 1;
    grid-row: 2;
}
#faculty{
    grid-column: 1;
    grid-row: 3;
}
#facultyName{
    grid-column: 1;
    grid-row: 4;
}
#specialization{
    grid-column: 1;
    grid-row: 5;
}
#specializationName{
    grid-column: 1;
    grid-row: 6;
}
#educationForm{
    grid-column: 1;
    grid-row: 7;
}
#educationFormName{
    grid-column: 1;
    grid-row: 8;
}
#coursesBox{
    grid-column: 6 / 13;
    grid-row: 4 / 7;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
}
#coursesBox p:not(:first-child){
    margin-bottom: -10px;
}
#sololearn{
    grid-column: 1;
    grid-row: 2;
}
#sololearnList{
    grid-column: 1;
    grid-row: 3;
} 
#stepik{
    grid-column: 1;
    grid-row: 4;
}
#stepikList{
    grid-column: 1;
    grid-row: 5;
}
#niu{
    grid-column: 2;
    grid-row: 2;
}
#niuList{
    grid-column: 2;
    grid-row: 3;
}
#mgtu{
    grid-column: 2;
    grid-row: 4;
}
#mgtuList{
    grid-column: 2;
    grid-row: 5;
}
#experienceBox{
    grid-column: 1 / 6;
    grid-row: 7;
}
#languagesBox{
    grid-column: 6 / 13;
    grid-row: 7;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(auto, auto);
    align-items: center;
}
#languagesBox p:not(:first-child){
    margin-top: -10px;
}
#languagesBox:first-child{
    grid-column: 1/9;
}
#english{
    grid-row: 2;
    grid-column: 1;
}
#englishLevel{
    grid-row: 3;
    grid-column: 1;
}
#deutch{
    grid-row: 5;
    grid-column: 1;
}
#deutchLevel{
    grid-row: 6;
    grid-column: 1;
}
.filledCircle, .circle{
    width: 15px;
    height: 15px;
    border-radius: 40px;
    border: 3px solid #504CFF;
}
.filledCircle{
    background-color: #504CFF;
}
#englishCircle1, 
#englishCircle2, 
#englishCircle3, 
#englishCircle4,
#englishCircle5,
#englishCircle6{
    grid-row: 2;
}
#englishCircle1{
    grid-column: 4;
} 
#englishCircle2{
    grid-column: 5;
}
#englishCircle3{
    grid-column: 6;
} 
#englishCircle4{
    grid-column: 7;
}
#englishCircle5{
    grid-column: 8;
}
#englishCircle6{
    grid-column: 9;
}
#deutchCircle1, 
#deutchCircle2, 
#deutchCircle3, 
#deutchCircle4,
#deutchCircle5,
#deutchCircle6{
    grid-row: 5;
}
#deutchCircle1{
    grid-column: 4;
} 
#deutchCircle2{
    grid-column: 5;
}  
#deutchCircle3{
    grid-column: 6;
}  
#deutchCircle4{
    grid-column: 7;
} 
#deutchCircle5{
    grid-column: 8;
} 
#deutchCircle6{
    grid-column: 9;
}
.contentContactsPage{
    max-width: 1300px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.contactsCards{
    grid-column: 1/ 4;;
    display: flex;
    max-width: 1300px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.contsctCard{
    position: relative;
    left: 0px;
    width: 300px;
    height: 500px;
    background:rgba(239, 238, 234, 0.9);
    border: none;
    border-radius: 20px;
    padding: 40px;
    font-family: sans-serif;
    color: #404040;
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  .contsctCard:not(:first-child){
    margin-left: -160px;
  }
  .contsctCard:hover{
    transform: translateY(-30px);
    transition: all .3s ease-in-out;
    box-shadow: none;
    box-shadow: 7px 7px #c7c7c7;
  }
  .contsctCard:active{
    transform: translateY(7px);
    transform: translateX(7px);
    box-shadow: none;
    transition: all .3s ease-in-out;
  }
  .contsctCard:hover ~ .contsctCard{
    left: 40px;
    transition: all .3s ease-in-out;
  }
  .contactsCards button p:first-child{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-top: 200px;
    margin-left: -180px;
    transform: rotate(-90deg);
    text-align: right;
  }
  #telegram{
    background:rgba(135, 191, 215, 0.9);
  }
  #email{
    background:rgba(231, 255, 86, 0.9);
  }
  #instagram{
    background:rgba(238, 220, 250, 0.9);
  }
  #github{
    background:rgba(254, 252, 3, 0.9);
  }