*{
    font-family: 'Manrope', sans-serif;
}
main{
    background: #fefefe;
}
a{
    text-decoration: none;
}
.header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(1, 1, 1, 0.05);
    border-radius: 0px 0px 15px 15px;
}
.header > a{
    margin: 26px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
.header > a:hover{
    color: #1C1B1F;
}
#logo{
    margin: 20px 100px;
    grid-column: 1;
    font-size: 22px;
    font-weight: 600;
    color: #1C1B1F;
}
#aboutPage{
    grid-column: 3;
}
#worksPage{
    grid-column: 4;
}
#contactsPage{
    grid-column: 5;
}
.contentMainPage{
    margin-top: 300px;
    font-size: 40px;
    align-items: center;
}
#applicationButton{
    width: 450px;
    height: 65px;
    background: #E3F265;
    box-shadow: 1px 1px 50px rgba(1, 1, 1, 0.05);
    border-radius: 40px;
    border-width: 0;
    font-weight: 600;
    font-size: 20px;
    margin-top: 200px;
}
#applicationButton:hover{
    box-shadow: 5px 5px #5955B3;
}
#imgContainer{
    margin-bottom: 200px;
    height: 914px;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
    background-image: url(https://i.ibb.co/myvfy1k/photo-2022-08-01-18-49-48-1.png);
}
#img1{
    height: 914px;
    margin-bottom: 200px;
}
.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, auto);
  /*background-color: #6e6e6e46;*/
  gap: 40px;
}
.container > div{
    background:rgba(239, 238, 234, 0.9);
  padding: 10px 60px 60px 69px;
  border-radius: 30px;
  box-shadow: 0px 0px #504CFF;
  transition: all .5s ease-in-out;
}
p:first-child{
    font-family: 'Soyuz Grotesk', sans-serif;
    font-size: 35px;
    color: #1C1B1F;
}
.container > div:hover{
  transition: all .4s ease-in-out;
  box-shadow: 5px 5px #504CFF; /*D6FC51*/
}
#educationBox{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    grid-gap: 10px;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    height: fit-content;
}
#mainInfoBox{
    grid-column: 4;
}
#coursesBox{
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}
#experienceBox{
    grid-column: 2;
}
#languagesBox{
    grid-column: 3;
}
.educationSubHeading{
    font-weight: 700;
    font-size: 22;
    grid-column: 1 / 3;
}
.educationDescription{
    font-weight: 400;
    font-size: 20;
    grid-column: 2 / 4;
}
#university{
    grid-row: 2;
}
#faculty, #facultyName{
    grid-row: 3;
}
#specialization, #specializationName{
    grid-row: 4;
}
#educationForm, #educationFormName{
    grid-row: 5;
}