@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/soyuz-grotesk');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/rozenssa');
:root {
    --blue: #504CFF;
    --violet: #5955B3;
    --green: #E3F265;
    --white: #fefefe;
    --darkest-gray: #282828;
    --dark-gray: #666666;
    --gray: #C7C7C7;
    --light-gray: #E5E5E5;
    --lightest-gray: #EFEEEA;
}

* {
    font-family: 'Manrope', sans-serif;
}

body {
    background: var(--white);
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:visited {
    color: var(--violet);
}

li,
p {
    line-height: 200%;
}

li {
    margin-left: -18px;
}


/* Стили текста */

.text {
    line-height: 160%;
    text-align: center;
    color: var(--darkest-gray);
}

.text-style-1 {
    margin-top: 200px;
    font-size: 80px;
    margin-top: -50px;
    margin-bottom: 200px;
    color: var(--white);
}

.text-style-2 {
    font-size: 50px;
    font-weight: 600;
}

.text-style-3 {
    font-family: 'Unbounded', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.text-style-4 {
    font-size: 22px;
    font-weight: 400;
}

.text-style-5 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 100px;
}

.text-style-6 {
    grid-column: 1;
    font-size: 200px;
    text-align: left;
    color: var(--lightest-gray);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 100vw;
    font-size: 14px;
    line-height: 200%;
    color: var(--white);
    background-color: var(--darkest-gray);
}

/* Стиль хедера */

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    place-items: center;
    grid-gap: 20px;
    height: 70px;
    width: 100%;
    background: var(--white);
    box-shadow: 0px 0px 50px rgba(28, 28, 28, 0.05);
    border-radius: 0px 0px 15px 15px;
    transition: all .6s ease-in-out;
}

.header_hidden {
    transform: translateY(-100%);
}

.header>a {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-gray);
}

.header>a:hover {
    color: var(--darkest-gray);
}

#logo {
    font-family: 'Rozenssa', sans-serif;
    letter-spacing: 5px;
    grid-column: 1;
    margin-left: 100px;
    font-size: 22px;
    font-weight: 600;
    color: var(--darkest-gray);
}

#about-me-page {
    grid-column: 3;
}

#works-page {
    grid-column: 4;
}

#contacts-page {
    grid-column: 5;
}


/* Стиль главной страницы */

#first-img-container {
    height: 1500px;
    background-image: url(../img/myPhoto2.jpg);
    background-size: cover;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-type-1 {
    width: 450px;
    height: 65px;
    background: var(--green);
    border-radius: 30px;
    border-width: 0;
    font-weight: 600;
    font-size: 20px;
    transition: all .4s ease-in-out;
}

.button-type-1:hover {
    box-shadow: 5px 5px var(--blue);
    transition: all .4s ease-in-out;
}

#application-button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
    transition: all .2s ease-in-out;
}


/*Стиль страницы "Обо мне"*/

#second-img-container {
    height: 914px;
    background-image: url(../img/myPhoto1.png);
    margin-bottom: 200px;
    background-repeat: repeat space;
    background-attachment: fixed;
    background-position: center top;
}

.about-me-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 40px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.about-me-container>div {
    background: var(--lightest-gray);
    padding: 20px 60px 60px 60px;
    border-radius: 30px;
    box-shadow: none;
    transition: all .5s ease-in-out;
}

.about-me-container>div:hover {
    transition: all .4s ease-in-out;
    box-shadow: 5px 5px var(--blue);
}

.about-me-page-heading {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
    color: var(--darkest-gray);
}

.subheading {
    margin: 20px 0px;
    font-weight: 700;
    font-size: 16px;
}

.description {
    margin-top: -15px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .3px;
}

#about-me-box {
    grid-column: 1 / 9;
    grid-row: 1 / 4;
}

#about-me-box .description:not(:last-child) {
    margin-top: 0px;
}

#main-info-box {
    grid-column: 9 / 13;
    grid-row: 1 / 4;
}

#education-box {
    grid-column: 1 / 6;
    grid-row: 4 / 6;
}

#experience-box {
    grid-column: 1 / 6;
    grid-row: 6;
}

#experience-box p:not(:first-child) {
    margin-top: 40px;
}

#courses-box {
    grid-column: 6 / 13;
    grid-row: 4 / 7;
}

#languages-box {
    grid-column: 1 / 13;
    grid-row: 7;
}

.language-grous {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.language-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circles {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    width: 250px;
}

.filled-circle,
.circle {
    width: 15px;
    height: 15px;
    margin: 0px 10px;
    border-radius: 40px;
    border: 3px solid var(--blue);
}

.filled-circle {
    background-color: var(--blue);
}


/* Стиль страницы "Контакты" */

.content-contacts-page {
    max-width: 1300px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.contacts-cards {
    grid-column: 1/ 4;
    display: flex;
    max-width: 1300px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-card {
    position: relative;
    left: 0px;
    width: 300px;
    height: 500px;
    background: var(--lightest-gray);
    border: none;
    border-radius: 20px;
    padding: 40px;
    font-family: sans-serif;
    color: #404040;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.contact-card:not(:first-child) {
    margin-left: -160px;
}

.contact-card:hover {
    transform: translateY(-30px);
    box-shadow: none;
    box-shadow: 7px 7px var(--gray);
    animation-name: shake-animaiton;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    transition: all .3s ease-in-out;
}

@keyframes shake-animaiton {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

.contsct-card:active {
    transform: translateY(7px);
    transform: translateX(7px);
    box-shadow: none;
    transition: all .3s ease-in-out;
}

.contsct-card:hover~.contsct-card {
    left: 40px;
    transition: all .3s ease-in-out;
}

.contacts-cards button p:first-child {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-top: 200px;
    margin-left: -180px;
    transform: rotate(-90deg);
    text-align: right;
}

#telegram {
    background: rgba(135, 191, 215, 0.9);
}

#email {
    background: rgba(231, 255, 86, 0.9);
}

#instagram {
    background: rgba(238, 220, 250, 0.9);
}

#github {
    background: rgba(254, 252, 3, 0.9);
}


/* Стиль страницы "Работы" */

.work-containers {
    margin: 0px auto;
}

.work-container {
    padding: 250px 0px;
}

.work-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin-bottom: 200px;
}
.work-name-odd{
    margin-right: 300px;
}
.work-name-even{
    margin-left: 300px;
}
#number-1,
#number-3,
#number-5 {
    width: 200px;
    margin: -200px 100px 0px 0px;
}

#number-2,
#number-4 {
    width: 200px;
    margin: -200px 0px 0px 100px;
}

.screenshots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    max-width: 1900px;
    margin: 0px auto 200px auto;
    max-width: 1700px;
    transition: all .3s ease-in-out;
}

.screenshots-container>.screenshots-1,
.screenshots-2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.screenshots-1>.works-card-first:not(:last-child) {
    margin-right: -100px;
}

.screenshots-2>.works-card-first:not(:first-child) {
    margin-left: -100px;
}

.mobile-phone {
    z-index: 5;
}

#mobile-phone-card {
    margin-top: -100px;
    background-image: url(../img/perfectPosture/main.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    width: 360px;
}

.works-card-first {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 250px;
    transition: all .3s cubic-bezier(.51, .77, .95, .33);
}

.works-card-first:hover {
    z-index: 3;
    margin-top: -20px;
    animation-name: shake-animaiton2;
    animation-duration: .5s;
    animation-iteration-count: 1;
    transition: all .3s cubic-bezier(.51, .77, .95, .33);
}

@keyframes shake-animaiton2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

#first-work-main {
    background-image: url(../img/perfectPosture/mainNoBorder.svg);
}

#first-work-profile {
    background-image: url(../img/perfectPosture/profileNoBorder.svg);
}

#first-work-settings {
    background-image: url(../img/perfectPosture/settingsNoBorder.svg);
}

#first-work-statistics-day {
    z-index: 2;
    background-image: url(../img/perfectPosture/statisticsDayNoBorder.svg);
}

#first-work-statistics-day:hover {
    z-index: 3;
}

#first-work-statistics-week {
    z-index: 1;
    background-image: url(../img/perfectPosture/statisticsWeekNoBorder.svg);
}

#first-work-statistics-week:hover {
    z-index: 3;
}

#first-work-statistics-course {
    z-index: 0;
    background-image: url(../img/perfectPosture/statisticsCourseNoBorder.svg);
}

#first-work-statistics-course:hover {
    z-index: 3;
}
.work-button{
    display: flex;
    justify-content: center;
}
.preview-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    background-color: var(--lightest-gray);
    transition: all .3s ease-in-out;
}

.preview-box:hover {
    transform: scale(110%, 110%);
    box-shadow: 5px 5px var(--blue);
}
.students-knowledge-control-preview,
.basketball-flight-modeling-preview{
    height: 750px;
    width: 1050px;
}
.kasumi-preview{
    margin: 0px 50px;
    height: 750px;
}

#first-kasumi-box {
    width: 750px;
}

#second-kasumi-box {
    width: 550px;
}

#basketball-flight-modeling-image {
    width: 870px;
    background-image: url(../img/basketballFlightModeling/basketballFlightModeling1.svg);
}
#students-knowledge-control-image {
    width: 756px;
    background-image: url(../img/studentsKnowledgeControl/studentsKnowledgeControl1.svg);
}
.preview-box-images{
    height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .4s ease-in-out;
}

#kasumi-encryption-decryption-image {
    width: 615px;
    background-image: url(../img/kasumi/kasumiEncryption.svg);
}

#kasumi-algorithm-image {
    width: 442px;
    background-image: url(../img/kasumi/kasumiAlgorithm.svg);
}
.image-box-navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-box-navigation-button {
    padding: 0px 70px;
    margin: 0px 30px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    border: none;
    border-radius: 18px;
    color: var(--white);
    background-color: rgba(80, 76, 255);
    transition: all .4s ease-in-out;
}

.image-box-navigation-button:hover {
    transform: translate(-1px, -1px);
}
.image-box-navigation-button:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}